body {
	font: normal 90%;
	color: #444;
	background:#f4f4f4;
	padding:0 0 2em 0;
	margin:0;
}

h1 {
	color: #99b92c;
	font-size: 4em;
	font-weight: normal;
	text-shadow: 1px 1px 1px #cccccc;
	background:white;
	border-bottom:2px dotted #ccc;
	margin:0;
	padding:0.8em;
}

h2 {
	font-size: 2em;
	font-weight:bold;
	margin: 1.5em 0 .8em 0;
	color: #444;
	text-shadow: 1px 1px 1px #cccccc;
}

ul {
	margin:0;
	padding:0;
}

li {
	padding-left: 10px;
}

.mentions {
	background:#505050;
	padding:1.3em;
	color:#fff;
	border:1px solid #ddd;
	margin:8em 3em 1em 3em;
	padding-right: 170px;
}

